<mat-card fxLayoutAlign="center center">
  <form
    [formGroup]="VitalSignForm"
    fxLayout="column wrap"
    fxLayoutGap="3%"
    (ngSubmit)="onVitalSignFormSubmit()"
  >
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input
          id="H"
          matInput
          type="text"
          placeholder="Height in Feet"
          formControlName="height"
          value="{{vitalSignId?.height}}"
        />
      </mat-form-field>

      <mat-form-field color="accent">
        <input
          id="W"
          matInput
          type="text"
          placeholder="Weight in kg"
          formControlName="weight"
          value="{{vitalSignId?.weight}}"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input
          id="BP"
          matInput
          type="text"
          placeholder="Blood Pressure"
          formControlName="bloodpressure"
          value="{{vitalSignId?.bloodPressure}}"
        />
      </mat-form-field>

      <mat-form-field color="accent">
        <input
          id="BT"
          matInput
          type="text"
          placeholder="Body Temperature"
          formControlName="bodytemperature"
          value="{{vitalSignId?.bodyTemperature}}"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input
          id="RR"
          matInput
          type="text"
          placeholder="Respiration Rate"
          formControlName="respirationrate"
          value="{{vitalSignId?.respirationRate}}"
        />
      </mat-form-field>
    </div>

    <div
      fxLayout="row "
      fxLayoutAlign="center center"
      fxLayout.lt-sm="column"
      fxLayoutGap="1%"
    >
      <mat-card-actions fxFlexFill>
        <button color="accent" mat-raised-button type="submit" fxFlexFill>
          Submit!
        </button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>
