<mat-tab-group>
  <mat-tab label="User Information" style="color: palevioletred">
    <app-shared-profile
      [loggedinUser]="loggedinUser"
      [patientDetails]="patientDetails"
      [selection]="selection"
      [dataSource]="dataSource"
    ></app-shared-profile>
  </mat-tab>
  <mat-tab label="History" >
    <app-patient-visit-info-list
    *ngIf="hasHistory"
      [dataSource]="dataSource2"
    ></app-patient-visit-info-list>
    <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="3%" *ngIf="!hasHistory">
      <mat-card-title id="note"> You Don't have any previous visits </mat-card-title>
    </div>
  </mat-tab>
</mat-tab-group>
