Check data here !! {{ selectedMeeting }}
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Patient Info"> </mat-tab>

  <mat-tab label="Vital Signs">
    <app-vital-form></app-vital-form>
  </mat-tab>

  <mat-tab label="Diagnosis & Procedures & Medication">
    <app-medication-form
      [loggedinUser]="loggedinUser"
      [diagnosisList]="diagnosisList"
      [procedureList]="procedureList"
      [medicationList]="medicationList"
    ></app-medication-form>
  </mat-tab>
</mat-tab-group>
