<mat-tab-group mat-align-tabs="center" (click)="checkVitalSignValue()">
  <mat-tab label="Patient Info">
    <app-shared-profile
      [loggedinUser]="patient"
      [patientDetails]="patientInfoId"
      [selection]="selection"
      [dataSource]="dataSource"
    ></app-shared-profile>
  </mat-tab>

  <mat-tab label="Vital Signs">
    <app-vital-form
      [patientInfoId]="patientInfoId"
      [employeeId]="employeeId"
      [vitalSignId]="vitalSignId"
      [meeting]="meeting"
    ></app-vital-form>
  </mat-tab>

  <mat-tab label="Diagnosis" [disabled]="!vitalentered">
    <app-medication-form
      [vitalSignId]="vitalSignId"
      [loggedinUser]="loggedinUser"
      [diagnosisList]="diagnosisList"
      [procedureList]="procedureList"
      [medicationList]="medicationList"
    ></app-medication-form>
  </mat-tab>

  <mat-tab label="History">
    <app-patient-visit-info-list
      [dataSource]="dataSource2"
    ></app-patient-visit-info-list>
  </mat-tab>
</mat-tab-group>
