<mat-card fxLayoutAlign="center center">
  <form [formGroup]="contactForm" fxLayout="column wrap" fxLayoutGap="3%" (ngSubmit)="onFormSubmit()">
    <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-card-title>
        <h1>Patient SignUp !!</h1>
      </mat-card-title>
    </div>

    <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="10%">
      <div fxFlex="30" id="title-label">Title:</div>
      <div fxFlex="70">
        <mat-radio-group aria-labelledby="title-label" color="accent" formControlName="title">
          <mat-radio-button value="Mr">Mr</mat-radio-button>
          <mat-radio-button value="Miss">Miss</mat-radio-button>
          <mat-radio-button value="Mrs">Mrs</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input id="fName" matInput type="text" placeholder="Your first name" formControlName="firstName" />

        <mat-error *ngIf="myError('firstName', 'required')">First name is required</mat-error>
        <mat-error *ngIf="myError('firstName', 'minlength')">Min required length is 3</mat-error>

        <!-- <p
*ngIf="contactForm.controls['firstName']?.errors?.['minlength'] && contactForm.controls['firstName']?.touched"
style="color: red"
>
Need
{{ contactForm.controls['firstName']?.errors?.['minlength'].requiredLength - contactForm.controls['firstName']?.errors?.['minlength'].actualLength }}
more chars
</p> 
<p
*ngIf="contactForm.controls['firstName']?.errors?.['required'] && contactForm.controls['firstName']?.touched"
style="color: red">
This is required
</p> -->
      </mat-form-field>

      <mat-form-field color="accent">
        <input id="lName" matInput type="text" placeholder="Your last name" formControlName="lastName" />
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input id="email" matInput type="text" placeholder="Your email" formControlName="email" />

        <mat-error *ngIf="myError('email', 'required')">email is required</mat-error>
        <mat-error *ngIf="myError('email', 'email')">Please enter this in email format</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="10%">
      <label>Phone Number :</label>
      <mat-form-field appearance="outline" color="accent">
        <input matInput ng2TelInput [ng2TelInputOptions]="{ initialCountry: 'in' }"
          formControlName="formControlPhone" />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input id="password" matInput type="password" placeholder="password" formControlName="password"
          (change)="onPasswordChange()" />

        <mat-error *ngIf="myError('password', 'required')">This is required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input id="confirmpassword" matInput type="password" placeholder="Confirm Password"
          formControlName="confirmpassword" (change)="onPasswordChange()" />

        <!-- <mat-error *ngIf="myError('confirmpassword', 'passwordValidator')"
          >Min required length is 3</mat-error
        > -->

        <div *ngIf="confirmpassword.hasError('mismatch')">Passwords must match</div>
        <!-- <mat-error>Please confirm the password</mat-error> -->
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="1%">
      <mat-card-actions fxFlexFill>
        <button color="accent" mat-raised-button type="submit" fxFlexFill>
          Submit!
        </button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>