<!--button  mat-raised-button  color="accent" class="addUser"> <a [routerLink]="['../']" color="white"> Go to Dashboard </a> </button>-->
<p>
  <mat-icon [matBadge]="badgeCounter">notifications</mat-icon>
</p>
<div class="image">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="UpComing Appointment">
      <table
        mat-table
        [dataSource]="inboxdata"
        class="mat-elevation-z8"
        matSort="desc"
      >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.appid }}</td>
      </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Meeting Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>       
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element" mat-sort="desc">
            {{ element.appointmentDate }} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let element">{{ element.time }}</td>
        </ng-container>
        <ng-container matColumnDef="patientId">
          <th mat-header-cell *matHeaderCellDef>PatientId</th>
          <td mat-cell *matCellDef="let element">{{element.patientIdInfo.user.name}}</td>
        </ng-container>
        <ng-container matColumnDef="physicianId">
          <th mat-header-cell *matHeaderCellDef>Physician</th>
          <td mat-cell *matCellDef="let element">
            {{element.physicianIdInfo.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="patientDetails">
          <th mat-header-cell *matHeaderCellDef>PatientDetails</th>
          <td mat-cell *matCellDef="let element" color="accent">
             <!-- <button
              mat-raised-button
              color="accent"
              (click)="openProfile(element.appid)"
            >
              click here
            </button>  -->
             <button mat-raised-button color="primary" [routerLink]="['../visit-patient/'+element.appid]">view</button> 
          </td>
        </ng-container>
        <ng-container matColumnDef="updateBooking">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element" color="accent">
            <button
              mat-raised-button
              color="accent"
              (click)="openAppointment(element.PatientId)"
            >
              update
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deleteApp(element)">
              Delete
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="editHistory">
          <th mat-header-cell *matHeaderCellDef>Edithistory</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent">Not Applicable</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-tab>
    <!--*****************************************send note**********************************************************-->
    <mat-tab label="Send Notes">
      <mat-card fxLayoutAlign="center center">
        <form
          [formGroup]="noteForm"
          fxLayout="column wrap"
          fxLayoutGap="3%"
          (ngSubmit)="onFormSubmit()"
        >
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
            <mat-form-field color="accent">
              <input
                id="phy"
                matInput
                type="text"
                placeholder="choose Reciever"
                formControlName="receiverName"
              />
            </mat-form-field>
          </div>
          <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
            <mat-form-field color="accent">
              <textarea
                id="atitle"
                matInput
                type="text"
                placeholder="type msg"
                formControlName="message"
              ></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Urgency level</mat-label>
              <select
                matNativeControl
                id="urgencyLevel"
                formControlName="urgencyLevel"
              >
                <option value="" disabled selected></option>
                <option value="Urgent">Urgent</option>
                <option value="Not urgent">Not Urgent</option>
              </select>
            </mat-form-field>
          </div>

          <div
            fxLayout="row "
            fxLayoutAlign="center center"
            fxLayout.lt-sm="column"
            fxLayoutGap="1%"
          >
            <mat-card-actions fxFlexFill>
              <button color="accent" mat-raised-button type="submit" fxFlexFill>
                Send!
              </button>
            </mat-card-actions>
          </div>
        </form>
      </mat-card>
    </mat-tab>
    <!--***************************************************************Recieved Notes******************************************************-->
    <mat-tab label="Recieved Notes">
      <table
        mat-table
        [dataSource]="chatdata"
        class="mat-elevation-z8"
        matSort="desc"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.notesId }}</td>
        </ng-container>

        <ng-container matColumnDef="sendDate">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.sendDate }}</td>
        </ng-container>

        <ng-container matColumnDef="senderName">
          <th mat-header-cell *matHeaderCellDef>SenderName</th>
          <td mat-cell *matCellDef="let element">{{ element.senderName }}</td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let element">{{ element.message }}</td>
        </ng-container>
        <ng-container matColumnDef="urgencyLevel">
          <th mat-header-cell *matHeaderCellDef>UrgencyLevel</th>
          <td mat-cell *matCellDef="let element">{{ element.urgencyLevel }}</td>
        </ng-container>

        <ng-container matColumnDef="isRead">
          <th mat-header-cell *matHeaderCellDef>isRead</th>
          <td mat-cell *matCellDef="let element">{{ element.read }}</td>
        </ng-container>

        <ng-container matColumnDef="ReplySender">
          <th mat-header-cell *matHeaderCellDef>reply</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="primary"
              (click)="replyNote(element)"
            >
              reply
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>action</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="warn"
              (click)="deleteNotes(element)"
            >
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns1"
        ></tr></table
    ></mat-tab>
  </mat-tab-group>
</div>
