<mat-card fxLayoutAlign="center center">
  <form
    [formGroup]="contactForm"
    fxLayout="column wrap"
    fxLayoutGap="3%"
    (ngSubmit)="onFormSubmit()"
  >
    <div
      fxLayout="row "
      fxLayoutAlign="center center"
      fxLayout.lt-sm="column"
      fxLayoutGap="3%"
    >
      <mat-card-title> Add Procedure </mat-card-title>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input
          id="procedureCode"
          matInput
          type="text"
          placeholder="Enter procedureCode"
          formControlName="procedureCode"
        />
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          id="procedureDescription"
          matInput
          type="text"
          placeholder="Enter procedureDescription"
          formControlName="procedureDescription"
        />
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent" class="example-full-width">
        <mat-label>Is Procedure Depricated</mat-label>
        <mat-select formControlName="procedureIsDepricated2">
          <mat-option
            [value]="procedureIsDepricated"
            *ngFor="let procedureIsDepricated of procedureIsDepricated1"
            >{{ procedureIsDepricated }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      fxLayout="row "
      fxLayoutAlign="center center"
      fxLayout.lt-sm="column"
      fxLayoutGap="1%"
    >
      <mat-card-actions fxFlexFill>
        <button color="accent" mat-raised-button type="submit" fxFlexFill>
          Submit!
        </button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>
