@media screen and (min-width: 700px)
{
    mat-card {
    max-width: 60%;
    /* color:#ff5b85; */
    margin: 2em auto;
    text-align: center;
    margin-bottom: 2%;
    
  }
}
@media screen and (max-width: 700px)
{
    mat-card {
    max-width: 90%;
    /* color:#ff5b85; */
    margin: 2em auto;
    text-align: center;
    margin-bottom: 10%;
    height: auto;
  }
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  :host {
    background-color: #064E89; 
  
  }

  .bodybg-color {
    background-color: #064E89; 
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-grid-tile {
  background: palevioletred;
}
mat-grid-list{
  width: auto;
  height: inherit;
}
td{
  text-align: left;
}
#data{
 color:#ff5b85;
}
#heading{
  color:lightseagreen;
  font-size: medium;

}

table{
  width:100%
}
#allergy{
  text-align-last: center;
  text-align: center;
  font-size: medium;
  color:lightseagreen
}
#tableheader{
  color:white;
  font-size: medium;
  background-color: #ff5b85;
}