<button mat-raised-button color="accent" class="addUser" (click)="onActivePatients()">
    <mat-icon>add</mat-icon> Active Patients
   
  </button>


  <button mat-raised-button color="accent" class="addUser" (click)="onDeactivePatients()">
    <mat-icon>add</mat-icon>DeActive Patients
   
  </button>

  <button mat-raised-button color="accent" class="addUser" (click)="onBlockPatients()">
    <mat-icon>add</mat-icon> Block Patients
   
  </button>


<!----------------------------------corporate user management-->


  <button mat-raised-button color="accent" class="addUser" (click)="onActiveUsers()">
    <mat-icon>add</mat-icon> Active users
   
  </button>


  <button mat-raised-button color="accent" class="addUser" (click)="onDeactiveUsers()">
    <mat-icon>add</mat-icon>DeActive users
   
  </button>

  <button mat-raised-button color="accent" class="addUser" (click)="onBlockUsers()">
    <mat-icon>add</mat-icon> Block users
   
  </button>

