
<mat-card fxLayoutAlign="center center">
  <form
    [formGroup]="contactForm"
    fxLayout="column wrap"
    fxLayoutGap="3%"
    (ngSubmit)="onFormSubmit()"
  >
    <div fxLayout="row " fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-card-title> Add Medication </mat-card-title>
    </div>

  

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent" >
        <input
          id="drugName"
          matInput
          
          type="text"
          placeholder="Enter drugName "
          formControlName="drugName"
        />
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          id="drugGenericName"
          matInput
          type="text"
          placeholder="Enter drugGenericName"
          formControlName="drugGenericName"
        />
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
      <mat-form-field color="accent">
        <input
          id="drugBrandName"
          matInput
          type="text"
          placeholder="Enter drugBrandName"
          formControlName="drugBrandName"
        />
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          id="drugForm"
          matInput
          type="text"
          placeholder="Enter drugForm"
          formControlName="drugForm"
        />
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutGap="3%">
     
      <mat-form-field color="accent">
        <input
          id="drugStrength"
          matInput
          type="text"
          placeholder="Enter drugStrength"
          formControlName="drugStrength"
        />
      </mat-form-field>
    </div>

    <div fxLayout="row " fxLayoutAlign="center center"  fxLayout.lt-sm="column" fxLayoutGap="1%">
      <mat-card-actions fxFlexFill>
        <button
          color="accent"
          mat-raised-button
          type="submit"
          [disabled]="!contactForm.valid"
          fxFlexFill
        >
          Submit!
        </button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>

