<!--++++++++++++++++++++++++++++++++++++++++++++++++++++Active users++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<button
  mat-raised-button
  color="accent"
  class="popup"
  (click)="onRegistration()"
>
  <mat-icon>add</mat-icon> Add Diagnosis
</button>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++Active users++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<mat-card>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  width="100%"
  matSort
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th class = "tablehead" mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="diagnosisCode">
    <th class = "tablehead" mat-header-cell *matHeaderCellDef mat-sort-header>DiagnosisCode</th>
    <td mat-cell *matCellDef="let element">{{ element.diagnosisCode }}</td>
  </ng-container>

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container> -->

  <ng-container matColumnDef="diagnosisDescription">
    <th class = "tablehead" mat-header-cell *matHeaderCellDef mat-sort-header>
      DiagnosisDescription
    </th>
    <td mat-cell *matCellDef="let element">{{ element.diagnosisDescription }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="diagnosisIsDepricated">
    <th class = "tablehead" mat-header-cell *matHeaderCellDef mat-sort-header>
      DiagnosisIsDepricated
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.diagnosisIsDepricated }}
    </td></ng-container
  >

  <ng-container matColumnDef="request">
    <th class = "tablehead" mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="approveRequest(element)">
        Approve
      </button>
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
   
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
</mat-card>
