<!--++++++++++++++++++++++++++++++++++++++++++++++++++++Active users++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<button
  mat-raised-button
  color="accent"
  class="popup"
  (click)="onRegistration()"
>
  <mat-icon>add</mat-icon> Add Medication
</button>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++Active users++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<mat-card>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  width="100%"
  matSort
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="drugName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DrugName</th>
    <td mat-cell *matCellDef="let element">{{ element.drugName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container> -->

  <ng-container matColumnDef="drugGenericName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      DrugGenericName
    </th>
    <td mat-cell *matCellDef="let element">{{ element.drugGenericName }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="drugBrandName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      DrugBrandName
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.drugBrandName }}
    </td></ng-container
  >

  <ng-container matColumnDef="drugForm">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      DrugForm
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.drugForm }}
    </td></ng-container
  >

  <ng-container matColumnDef="drugStrength">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      DrugStrength
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.drugStrength }}
    </td></ng-container
  >

  <ng-container matColumnDef="request">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="approveRequest(element)">
        Approve
      </button>
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
</mat-card>